<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://oracle.com/webfolder/technetwork/jsc/xml/ns/javaee/web-app_3_0.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd
         http://oracle.com/webfolder/technetwork/jsc/xml/ns/javaee/web-app_3_0.xsd "
         version="4.0">

    <servlet>
        <!--Dispatcher Servlet is the heart (almost 90%) of Spring MVC Framework-->
        <!--by default, Dispatcher Servlet will look for servletname-servlet.xml file for Application Context configuration-->
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>


        <!--optional part, if you want to override default name for spring context configuration XML file-->
        <!--
        <init-param>
            <param-name>contextConfiguration</param-name>
            <param-value>/WEB-INF/springcontext.xml</param-value>
        </init-param>
        -->

        <load-on-startup>1</load-on-startup>


    </servlet>
    
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern> <!--localhost:8080/transporeon/**-->
    </servlet-mapping>

</web-app>